* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.header {
    padding: 1.5em;
}

.header__titel {
    font-weight: normal;
    font-size: 2.7em;
}

.header__dropdown {
    margin: 1.5em 0;
}

.header__radio {
    margin-left: 1.5em;
}

.boek {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 1em;
    margin-bottom: 1em;
}

.boek__cover {
    max-width: 100px;
}

.boek__prijs {
    font-size: 2em;
}